<!-- nav.html -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<!--<img src="/img/home.png" alt="logo" />-->
			<ul class="nav navbar-nav">
				<li><a href="/user/list"><span th:text="#{view.users}">Ver
							Usuarios</span></a></li>
				<li><a sec:authorize="hasRole('ROLE_REGULAR')" 
				href="/user/friendsList" th:text="#{view.friends}">Ver Amigos</a></li>
				<li><a sec:authorize="hasRole('ROLE_REGULAR')" href="/post/add"><span
						th:text="#{add.message}">Crear publicación</span></a></li>
				<li><a href="/post/list"><span th:text="#{view_posts.message}">Ver
							mis publicaciones</span></a></li>
					<li><a sec:authorize="isAuthenticated()" href="/admin"><span>Administrar</span></a></li>		
				<li id="invitation-menu" class="dropdown"
					sec:authorize="hasRole('ROLE_REGULAR')"><a
					class="dropdown-toggle" data-toggle="dropdown" href="#"
					th:text="#{invitation.message}"> Invitaciones <span
						class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="/user/invitationsList"
							th:text="#{seeInvitations.message}">Ver Invitaciones</a></li>
					</ul></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a id="btnLanguage" href=" #"
					class="dropdown-toggle" data-toggle="dropdown" role="button"
					aria-haspopup="true" aria-expanded="false"> <span
						th:text="#{language.change}"></span> <span class="caret"></span>
				</a>
					<ul id="languageDropdownMenuButton" class="dropdown-menu">
						<li><a id="btnEnglish" value="EN"> <img
								th:src="@{/img/if_uk_flag.png}"
								style="border: 0; float: left; margin-right: 15px" /> <span
								th:text="#{language.en}">Inglés</span>
						</a></li>
						<li><a id="btnSpanish" value="ES"> <img
								th:src="@{/img/if_spain_flag.png}"
								style="border: 0; float: left; margin-right: 15px" /> <span
								th:text="#{language.es}">Español</span>
						</a></li></li>
			</ul>
			<li sec:authorize="!isAuthenticated()"><a href="/signup"
				th:text="#{signup.nav}"> <span class="glyphicon glyphicon-user"></span>
					Registrate
			</a></li>
			<li sec:authorize="!isAuthenticated()"><a href="/login"
				th:text="#{login.nav}"> <span class="glyphicon glyphicon-log-in"></span>
					Identificate
			</a></li>
			<li sec:authorize="isAuthenticated()"><a href="/logout"
		 	th:text="#{logout.nav}"> <span
					class="glyphicon glyphicon-log-out"></span>
			</a></li>
			</ul>
		</div>
</nav>
